<!-- Split button -->
<div class="btn-group" uib-dropdown>
  <button type="button" class="btn btn-default"><span translate>language</span></button>
  <button type="button" class="btn btn-default dropdown-toggle" id="{{$ctrl.uniqueId}}" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="{{$ctrl.uniqueId}}">
    <li><a ng-click="$ctrl.changeLanguage('es')">Espa&ntilde;ol</a></li>
    <li><a ng-click="$ctrl.changeLanguage('en')">English</a></li>
  </ul>
</div>