<div ng-messages="$ctrl.field.$error" class="text-danger" ng-if="!$ctrl.field.$pristine || $ctrl.field.$$parentForm.$submitted">
	<ng-transclude></ng-transclude>
	<div ng-messages-include="layouts/error-messages.html"></div>
</div>