	<div class="jumbotron">
      <div class="container text-center">
        <h1>Lorem ipsum!</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa.</p>
        <form class="form-signin" name="ctrl.quoteForm" ng-submit="ctrl.onQuote()" novalidate my-server-validation>
        	<div class="row">
	         	<div class="form-group col-md-4 col-md-offset-2" ng-class="{ 'has-error' : ctrl.quoteForm.base.$invalid && !ctrl.quoteForm.base.$pristine }">		        
	         		<input type="hidden" name="base" required ng-model="ctrl.quote.base">	        
		        	<field-error-message field="ctrl.quoteForm.base"></field-error-message>
		        </div>
	         	<div class="form-group col-md-4" ng-class="{ 'has-error' : ctrl.quoteForm.symbols.$invalid && !ctrl.quoteForm.symbols.$pristine }">		        
	         		<input type="hidden" name="symbols" required ng-model="ctrl.quote.symbols">	        
		        	<field-error-message field="ctrl.quoteForm.symbols"></field-error-message>
		        </div>
		        <div class="clearfix"></div>
		        <div class="form-group col-md-4 col-md-offset-2" ng-class="{ 'has-error' : ctrl.quoteForm.email.$invalid && !ctrl.quoteForm.email.$pristine }">
			        <label for="baseAmount" class="sr-only">attribute.base-amount</label>
			        <input type="text" name="baseAmount" class="form-control" required autofocus ng-model="ctrl.quote.baseAmount" ng-attr-placeholder="{{ctrl.quote.base}}" ui-money-mask="4" currency-symbol="{{ctrl.quote.base}}">	        
		        	<field-error-message field="ctrl.quoteForm.baseAmount"></field-error-message>
		        </div>
		        <div class="form-group col-md-4">
			  		<label for="toAmount" class="sr-only" translate>attribute.to-amount</label>
			        <input type="text" name="toAmount" class="form-control" ng-model="ctrl.quote.toAmount" ng-attr-placeholder="{{ctrl.quote.symbols}}" disabled="disabled" ui-money-mask="4" currency-symbol="{{ctrl.quote.symbols}}">
		        </div>
		        <div class="clearfix"></div>
		        <div class="col-md-offset-4 col-md-4">
		        	<button class="btn btn-lg btn-primary btn-block" ng-disabled="ctrl.quoteForm.$invalid" type="submit" translate>page.dashboard.calculate</button>
		        </div>
	        </div>
        </form>
      </div>
    </div>
    <div class="container">
      <div class="row">
      	<div class="col-md-8">      	      		
      		<h2 translate>page.dashboard.historical</h2>
      	</div>
        <div class="col-md-6" ng-repeat="(currency, rate) in ctrl.rates">
          <div class="row">
          	<div class="col-md-offset-3 col-md-6">
	          <h3>{{currency}}</h3>
	          <div class="table-responsive">
		          <table class="table">
		          	<tbody>
		          		<tr>
		          			<td class="text-left">{{ctrl.quote.base}}</td>
		          			<td class="text-right">{{'1' | number : '4'}}</td>
		          		</tr>
		          		<tr>
		          			<td class="text-left">{{currency}}</td>
		          			<td class="text-right">{{rate | number : '4'}}</td>
		          		</tr>
		          	</tbody>
		          </table>
	          </div>
          	</div>
          </div>
        </div>
      </div>
     </div>