[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

/* GLOBAL STYLES
-------------------------------------------------- */

body {
  color: #5a5a5a;
}
header{
	height:52px;
	
	.logo{
		margin-top:50px;
	}
}
footer {
    background-color: #eee;
    padding: 40px 0 20px;
    .container > .row > .col-md-3 {
	    padding-bottom: 30px;
	}
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
	header{
		height:initial;
	}
}

@media (min-width: 992px) {

}