<div ng-message="serverError" translate translate-values="{ attribute: attribute,type: serverError.type }">error.server.validation</div>
<div ng-message="required" translate translate-values="{ attribute: attribute }">error.required</div>
<div ng-message="minlength" translate translate-values="{ attribute: attribute, minlength:minlength }">error.minlength</div>
<div ng-message="maxlength" translate translate-values="{ attribute: attribute, maxlength:maxlength }">error.maxlength</div>
<div ng-message="email" translate translate-values="{ attribute: attribute }">error.email</div>