<header>
	<img alt="Logo" src="assets/img/android-chrome-96x96.png" class="center-block hidden-xs logo">
	<navbar></navbar>
</header>
<ui-view name="contentView"></ui-view>
<!-- FOOTER -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<h3>Moneyxchange.io</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscin</p>
			</div>
			<div class="col-sm-6 col-md-3">
				<h3>Moneyxchange.io</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscin</p>
			</div>
			<div class="col-sm-6 col-md-3">
				<h3>Moneyxchange.io</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscin</p>
			</div>
			<div class="col-sm-6 col-md-3">
				<h3>Moneyxchange.io</h3>
				<language-dropdown></language-dropdown>
			</div>
			<div class="col-xs-12">
	  			<p class="text-center">&copy; {{ date | date:'yyyy'}} Moneyxchange.io. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
			</div>
		</div>
  	</div>
</footer>