navbar {
	
	.navbar-wrapper {
	  position: relative;
	  top: 0;
	  right: 0;
	  left: 0;
	  z-index: 20;
	}
	
	.navbar-wrapper > .container {
	  padding-right: 0;
	  padding-left: 0;
	}
	
	@media (min-width: 768px) {
	  	.navbar-wrapper {
	    	margin-top: 20px;
	  	}
	  	.navbar-wrapper .container {
	    	padding-right: 15px;
	    	padding-left: 15px;
	  	}
	  	.navbar-wrapper .navbar {
	    	padding-right: 0;
	    	padding-left: 0;
	  	}
	
	  	.navbar-wrapper .navbar {
	    	border-radius: 4px;
	  	}
	}
}

