	<div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" ng-click="$ctrl.isCollapse=!$ctrl.isCollapse" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" ui-sref="app" translate>app.name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" uib-collapse="$ctrl.isCollapse">
              <ul class="nav navbar-nav">
                <li ui-sref-active="active" ng-if="$ctrl.$rootScope.isAuthenticated"><a ui-sref="app.dashboard" translate>page.dashboard.name</a></li>
                <li ui-sref-active="active"><a ui-sref="app.about" translate>page.about.name</a></li>
                <li ui-sref-active="active"><a ui-sref="app.contact" translate>page.contact.name</a></li>
                <li ng-if="$ctrl.$rootScope.isAuthenticated"><a ng-click="$ctrl.onLogout()" translate>logout</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>