	<div class="container">

      <form class="form-signin" name="ctrl.loginForm" ng-submit="ctrl.onLogin()" novalidate my-server-validation>
        <h2 class="form-signin-heading" translate>page.login.caption</h2>
        <div class="form-group" ng-class="{ 'has-error' : ctrl.loginForm.email.$invalid && !ctrl.loginForm.email.$pristine }">
	        <label for="inputEmail" class="sr-only">attribute.email</label>
	        <input type="email" name="email" class="form-control" required autofocus ng-model="ctrl.login.email" ng-attr-placeholder="{{ 'attribute.email' | translate | decodeEntities }}">	        
        	<field-error-message field="ctrl.loginForm.email"></field-error-message>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : ctrl.loginForm.password.$invalid && !ctrl.loginForm.password.$pristine }">
	  		<label for="inputPassword" class="sr-only" translate>attribute.password</label>
	        <input type="password" name="password" class="form-control" required ng-model="ctrl.login.password" ng-minlength="8" ng-maxlength="16" ng-attr-placeholder="{{ 'attribute.password' | translate | decodeEntities }}">	        
        	<field-error-message field="ctrl.loginForm.password">
        		<div ng-message="serverError">{{ctrl.loginForm.password.$attributes.serverError.message}}</div>
        	</field-error-message> 
        </div>   		
        <div vc-recaptcha
        	ng-model="ctrl.login.recaptcha"
        	on-success="ctrl.responseCaptcha(response)"
        	on-create="ctrl.setWidgetId(widgetId)"
        	on-expire="ctrl.resetCaptcha()"
        	lang="lang">
		</div>
        <button class="btn btn-lg btn-primary btn-block" ng-disabled="ctrl.disableSubmit()" type="submit" translate>page.login.submit</button>
      </form>
      

    </div> <!-- /container -->